html,body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    color: white;
}

body, .container-fluid {
    background: #3a3a39; /* Old browsers */
    background: -moz-linear-gradient(top,  #3a3a39 0%, #26262b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a39), color-stop(100%,#26262b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3a3a39 0%, #26262b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3a3a39 0%, #26262b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3a3a39 0%, #26262b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3a3a39 0%, #26262b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a39', endColorstr='#26262b',GradientType=0 ); /* IE6-9 */
}

header .input-group {
    padding: 15px;
    background-color: #1b1b1b;
    border-bottom: 1px #000 solid;
}

header .input-group .clear-text {
    content: "";
    position: absolute;
    cursor: pointer;
    cursor: hand;
    border: transparent;
    background: transparent;
    color: #999;
    top: 24px;
    right: 60px;
    z-index: 10;
}

.search-textbox:not(:valid) ~ .clear-text {
    display: none;
}

header .header-bar {
    height: 50px;
    background: #252628; /* Old browsers */
    background: -moz-linear-gradient(top,  #252628 0%, #2b2c2a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#252628), color-stop(100%,#2b2c2a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #252628 0%, #2b2c2a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #252628 0%, #2b2c2a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #252628 0%, #2b2c2a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #252628 0%, #2b2c2a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252628', endColorstr='#2b2c2a',GradientType=0 ); /* IE6-9 */
}

header .header-bar h1{
    margin: 0;
    padding-top: 10px;
    padding-left: 15px;
}

.main-content {
    margin: 0;
}

.loading-animation {
    margin: 20px;
    margin-left: 50%;
}

.loading-animation .gif {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/loading.gif);
}

.namecards-enter,
.namecards-leave {
    -webkit-transition: opacity 0.2s ease-in;
       -moz-transition: opacity 0.2s ease-in;
            transition: opacity 0.2s ease-in;
}

.namecards-enter {
    opacity: 0.01;
}

.namecards-enter.namecards-enter-active {
    opacity: 1;
}

.namecards-leave {
    opacity: 1;
}

.namecards-leave.namecards-leave-active {
    opacity: 0.01;
}

.namecards-container {
    height: 170px;
    margin: 10px 0;
    padding: 0;
}

.namecards-container a:hover {
    opacity: 0.8;
}

.namecards-container .name-holder,
.namecards-container .info-holder,
.namecards-container .socmed-holder {
    display: inline-block;
    height: 100%;
    float: left;
    background-color: #3c393e;
}

.namecards-container .name-holder {
    width: 25%;
    background-color: #493843;
    text-align: center;
}

.namecards-container .name-holder .nickname {
    font-size: 16px;
    color: #cee2ff;
    margin-top: 35px;
}

.namecards-container .name-holder .fullname {
    font-size: 20px;
    margin-top: 20px;
}

.namecards-container .name-holder .title {
    margin-top: 5px;
    font-size: 17px;
    color: #939397;
}

.namecards-container .info-holder {
    width: 63%;
    min-width: 275px;
    background-color: #3f3940;
    padding: 5px;
}

.namecards-container .info-holder .glyphicon {
    font-size: 16px;
    color: #c9dcf6;
}

.namecards-container .info-holder div {
    margin: 8px 10px;
}

.namecards-container .info-holder .header {
    display: inline-block;
    width: 50px;
    margin: 0 20px;
    font-size: 14px;
    color: #8a8a8f;
}

.namecards-container .info-holder .value {
    font-size: 16px;
    color: #d4d7dc;
    line-height: 1.5;
}
.namecards-container .info-holder .value a{
    color: #bed3f4;
    text-decoration: none;
    border-bottom: 1px #3276be dashed;
}

.namecards-container .info-holder div {
    white-space: nowrap;
    overflow: hidden;
}

.namecards-container .info-holder div span {
    display: inline;
}

.namecards-container .socmed-holder{
    width: 10%;
}

.namecards-container .socmed-holder .wrapper {
    width: 6%;
    height: 145px;
    margin-top: 12px;
    border-left: 1px #a1a0a1 solid;
}

.namecards-container .socmed-holder .icon {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../images/socmed-icons.png);
    margin: 4px 14px;
}

.namecards-container .socmed-holder .icon.twitter {background-position: 96px 0;}
.namecards-container .socmed-holder .icon.linkedin {background-position: 64px 0;}
.namecards-container .socmed-holder .icon.instagram {background-position: 32px 0;}

.namecards-container .socmed-holder .icon.disabled {
    cursor: default;
    opacity: 0.4;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.pagination > li > a {
    cursor: pointer;
}

@media (min-width: 481px) and (max-width: 1150px) {
    .namecards-container .name-holder.longname .fullname {
        font-size: 16px;
    }

    .namecards-container .name-holder.longname .title {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .namecards-container .name-holder .nickname {
        font-size: 14px;
    }

    .namecards-container .name-holder .fullname {
        font-size: 16px;
    }

    .namecards-container .name-holder .title {
        display: none;
    }

    .namecards-container .info-holder {
        width: 75%;
        min-width: inherit;
    }

    .namecards-container .info-holder div {
        margin: 10px 5px;
    }

    .namecards-container .info-holder .header {
        display: none;
    }

    .namecards-container .info-holder .value {
        margin: 0px 15px;
    }

    .namecards-container .socmed-holder {
        display: none;
    }
}